/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
}

input, label{
    display: block;
    width: 100%;
}

input:focus, label:focus{
    outline: none;
}

a{
    color: #e68200;
}

body{
    padding-top: 5vh;
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    background-position-y: -150px;
}

/*Form*/
#main-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color:#FFFF;
    border-radius: 10px;
    padding: 25px;
    
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.0rem; /*adptada ao elemento root*/
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box{
    flex: 1 1 100%;
   
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing{
    margin-right: 2.5%;
}

label{
    font-weight: bold;
    font-size: 1rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus{
    border-color: #e68200;
}

input[type="submit"]{
    background-color: #e68200;
    color: #FFF;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#agreement{
    margin-right: 5px;
}

#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}

.template{
    display: none;
}

